& {
  .details > h1 {
    color: #e91c50;
  }

  img {
    max-width: 30rem;
    max-height: 30rem;
  }

  button {
    margin-top: 2rem;

    background-color: #e91c50;
    color: #ffffff;

    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: lighten(#e91c50, 5%);
      text-decoration: underline;
    }

    &:active {
      background-color: darken(#e91c50, 10%);
    }
  }
}