&.movie-list {
  height: 50rem;
  overflow-y: auto;

  list-style: none;

  .movie-list-item {
    margin: 2rem 0;
  }

  hr {
    margin: 1rem;

    border: none;
    border-bottom: 0.1rem solid #cccccc;

    &:last-child {
      display: none;
    }
  }
}