{{input value=title placeholder='Title..' required=true class='form-title'}}

{{input value=description placeholder='Description..' required=true class='form-description'}}

{{input value=image placeholder='Image url..' required=true class='form-image-url'}}

{{input value=rating placeholder='Between [1-5]' type="number" min="1" max="5" required=true class='form-rating'}}

<button type="submit">Add Movie</button>